[submodule "associationapp"]
	path = associationapp
	url = https://github.com/PriyankaManna/associationapp
[submodule "generatorapp"]
	path = generatorapp
	url = https://github.com/PriyankaManna/generatorapp.git
[submodule "Shoppingapp"]
	path = Shoppingapp
	url = https://github.com/PriyankaManna/Shoppingapp.git
[submodule "activestorage"]
	path = activestorage
	url = https://github.com/PriyankaManna/activestorage
